
body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding-top: 80px;
    background: #e5eef8;
}

.container {
    width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
    
}


ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0978ec;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

header .logo {
    display: inline-block; 
    font-size: 27px;
}

header .logo a {
    text-decoration: none;
    color: white;
}



header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.menu-icon {
    display: none;
}

header nav ul li.menu-icon img {
    vertical-align: middle;
    width: 24px;
    height: auto;
}

header nav ul li a {
    color: #FFFF;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #3E50E5;
}

header nav ul li:last-of-type a {
    margin-right: 0;
}

.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width : 400px;
    background: white;
    border-radius: 4px;
}
.center h1{
    padding: 0 40px;
}
.center form{
    padding: 0 40px;
}


body div form div.text{
    padding:5px;
}

body div form input{
    height: 50px;
    padding: 15px;
    width: 326px;
    max-width: 97%;
    border-radius: 60px;
    box-sizing: border-box;
    border-right: none;
    color: #3E3E3E;
    font-family: Heebo;
    font-size: 17px;
    letter-spacing: 0.35px;
    line-height: 46px;
    padding-left: 11px;
    background: #f2f5f8;
    border:none;
}
button[type="submit"]{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    padding: 10px 20px;
    letter-spacing: 1px;
    width: 104px;
    
    border-radius: 60px;
    background: blue;
    color: white;
    transform: translateX(-10px);
    transform: translateY(-38px);
}
input[value="Login"]{
    text-align: center;
}

.pass{
    color: blue;

}




